<section class='employer-info'>
    <p><%= @merchant.name %></p>
    <p><%= @merchant.address %></p>
    <p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>
    <% if current_admin? %>
      <ul><%= link_to "Update Merchant", "/admin/merchants/#{@merchant.id}/edit" %></ul>
      <ul><%= link_to "Delete Merchant", "/admin/merchants/#{@merchant.id}", method: :delete  if @merchant.no_orders?%></ul>
    <% end %>

    <section class='pending-orders'>
      <% @merchant.pending_orders.each do |pending_order| %>
        <%= link_to "Order #: #{pending_order.id}", "/merchant/orders/#{pending_order.id}"%>
        <p>Order Date: <%= pending_order.created_date %></p>
        <p>Item Total: <%= pending_order.item_count_for_merchant(@merchant.id) %></p>
        <p>Grand Total: <%= pending_order.grand_total_for_merchant(@merchant.id) %></p>
      <% end  %>
    </section>
    <%= link_to "My Merchant's Items", '/merchant/items' %>
</section>
